﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/lobilist/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/lobilist/lobilist.min.css">

    <link rel="stylesheet" href="~/Content/lobilist/lobibox.min.css">
    <link rel="stylesheet" href="~/Content/lobilist/github.css">
    <link rel="stylesheet" href="~/Content/lobilist/demo.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg-success">
        <div class="container bg-success">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Работен Календар", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>
                        @Html.ActionLink("Събития", "Index", "Events")
                    </li>
                    <li>@Html.ActionLink("Календар", "Index", "Calendar")</li>
                    </li>
                    <li>@Html.ActionLink("Задачи", "Index", "Tasks")</li>
</ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("ScriptsCalendar", required: false)
    @RenderSection("ScriptsTasks", required: false)
   
</body>
</html>
