﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Задачи</h2>
<hr />

<div class="container">
    <div id="lobilist">
        <div id="todo-lists-demo1"></div>
    </div>

    <hr />

    @*<div id="lobilist">
        <div id="todo-lists-demo"></div>
    </div>*@


</div>

@section ScriptsTasks{
<script src="~/CustomScripts/lobilist/jquery.min.js"></script>
    <script src="~/CustomScripts/lobilist/jquery-ui.min.js"></script>
    <script src="~/CustomScripts/lobilist/jquery.ui.touch-punch-improved.js"></script>
    <script src="~/CustomScripts/lobilist/lobilist.js"></script>


    <script src="~/CustomScripts/lobilist/lobibox.min.js"></script>
    <script src="~/CustomScripts/lobilist/highlight.pack.js"></script>
    <script src="~/CustomScripts/lobilist/demo.js"></script>
    <script src="~/CustomScripts/lobilist/lobi.js"></script>

}




