﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Задачи Test</h2>


<div class="container">
    <div id="lobilist">
        <div id="todo-lists-demo"></div>
    </div>
</div>
